.keys {
  display: flex;
  overflow: hidden;
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  @media (orientation: portrait) and (max-width: 1023px), (pointer: fine) {
    position: relative;
    border-radius: 0 0 10px 10px;
    box-shadow: 0 -3px 0 5px #272222;
    transform: translateY(-7px) perspective(1000px) rotateX(3deg);
    height: 200px;
  }
}
