.piano {
  position: relative;
  width: 100%;
  background: #111;

  @media (orientation: portrait) and (max-width: 1023px), (pointer: fine) {
    width: 90%;
    padding: 2rem 2rem 0.5rem;
    border-radius: 30px;
    box-shadow: inset 0 -8px 0 0 #272222;
    border: 1px solid #111;
    border-bottom: 1px solid #272222;
    transform: perspective(800px) rotateX(5deg);
  }

  @media (min-width: 1366px) {
    max-width: 1280px;
  }

  // &::before, &::after {
  //   content: '';
  //   width: 10px;
  //   height: 50%;
  //   background: #333;
  //   position: absolute;
  // }

  // &::before {
  //   left: 0;
  //   top: 0;
  //   transform: rotate(-2deg) translateX(-50%);
  //   transform-origin: bottom left;
  // }

  // &::after {
  //   left: 0;
  //   top: 0;
  //   transform: rotate(2deg) translateX(-50%) translateY(100%);
  //   transform-origin: bottom left;
  // }
}